target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.classpath
.project
.settings/
.idea/
*.iws
*.iml
*.ipr
.vscode/
